<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<div class="row">
<div class="col-6">
    <%= f.association :role %>
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :password,
                hint: "не заполняйте это поле, если не хотите изменить пароль",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "нужен ваш текущий пароль чтобы подтвердить изменения",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>
  </div>


  <div class="col-3 btn-group mt-5">
    <%= f.button :submit , 'Обновить', class: 'btn btn-success'%>
    <%= link_to 'Назад', :back, class: 'btn btn-outline-primary' %>
  </div>
<% end %>
<div class="row mt-4">
<div class="col-6">
<h3>Удалить аккаунт</h3>

<p>Точно удалить? <%= link_to "Да, удалить", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
</div>
