<div class="row">
  <div class="col-3">
    <h2>Users</h2>
      <small>Всего - <%= User.count %></small>
    <%# link_to '<span class="oi oi-trash"></span>'.html_safe, delete_selected_citilinks_path, class: 'btn btn-secondary btn-sm', id: 'deleteAll', remote: true, data: { delete_url: delete_selected_citilinks_path } %>
  </div>

  <%= search_form_for @search, {class: 'form-inline col-6 pl-0 pr-0'} do |f| %>
    <div class="input-group input-group-sm">
      <%= f.search_field :name_cont_all , placeholder: 'name', class: "form-control", style: "max-width: 180px;" %>
      <%= button_tag(type: 'submit', :class => "btn btn-info") do %>
        <span class="oi oi-magnifying-glass"></span>
      <% end %>
      <%= link_to '<span class="oi oi-reload"></span>'.html_safe, users_path, class: 'btn btn-outline-dark ' %>
    </div>
  <% end %>
</div>


<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <%= render user %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="apple_pagination">
<%= will_paginate @users %>
</div>
