<p id="notice"><%= notice %></p>

<p>
  <strong>Shop:</strong>
  <%= @order.shop_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Transaction:</strong>
  <%= @order.transaction_id %>
</p>

<p>
  <strong>Key:</strong>
  <%= @order.key %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order.order_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @order.signature %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @order.ip %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
