<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form", class: "form-signin" }) do |f| %>
<h2 class="form-signin-heading"><%= t('.sign_in', :default => "Вход в сервис") %></h2>
<%= render "devise/shared/error_messages", resource: resource %>

<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Пароль" %>

<% if devise_mapping.rememberable? %>
  <div class="checkbox">
    <%= f.label :remember_me do %>
    <%= f.check_box :remember_me%>
    <%= t('.remember_me', :default => "Запомнить меня") %>
  <% end %>
</div>
<% end %>
<%= f.submit t('.sign_in', :default => "Войти"), class: "btn btn-primary" %>
<%end%>
